<table class="table table-striped table-bordered minimalistBlack">
  <thead>
  <tr >
    <ng-container *ngFor="let col of cols">
      <td>{{col.header}}</td>
    </ng-container>

  </tr>
  </thead>
  <tbody >
  <tr *ngFor="let item of gridData;trackBy:trackByFn;let j=index" class="text-center"
      [style.background-color]="item.BackgroundColour"
      [style.color]="item.color"
      appMouseover>
  <ng-container *ngFor="let i of len">
    <td class="th">{{item[i-1]}}</td>
  </ng-container>

  </tr>
  </tbody>
</table>


