<form [formGroup]="formCoding" >

      <input type="text"
             placeholder="انتخاب کنید"
             matInput
             formControlName="search"
             [matAutocomplete]="auto" [value]="selected===''?null:selected">
      <mat-autocomplete #auto="matAutocomplete" >
<!--        <mat-option disabled (select)="selected===''?'...':'1'">{{selected===''?'...':'1'}}</mat-option>-->
        <mat-option  *ngFor="let item of CodingData | async" [value]="item['value']" #list (onSelectionChange)="selectlst(list.value)">
          {{item['text']}}
        </mat-option>
      </mat-autocomplete>

</form>



<!--  <input formControlName="search" style="border: ridge;margin-right: 5px" type="text">-->

<!--  <select #selectList formControlName="RUSR28007"  class="form-select"  style="width: 80%">-->
<!--    <option></option>-->
<!--    <option *ngFor="let item of CodingData | async" [value]="item['value']"> {{item['text']}}</option>-->
<!--  </select>-->


