<div class="container-fluid">
  <div class=" row">
    <div class="card custom-card cardOne mt-3"  >
      <div class="card-header" >
        فرم جدید
      </div>
      <div class="card-body ">
        <form [formGroup]="formData">
          <div class="row"  >
            <div  class="col-12 d-flex" >
              <div class="col-4 d-flex">
                <label class="col-form-label ">
                  تاریخ :</label>
                <input autofocus  type="text" [patterns]="customPatterns"  mask="00000000" maxlength="8" minlength="8" formControlName="Date" [ngClass]="{'alert1':formData.get('Date')?.invalid && formData.get('Date')?.touched}" class="form-control" style="width: 221px">
                <ng-container *ngIf="formData.get('Date')?.invalid && formData.get('Date')?.touched">
                  <span class="tooltiptext" style="top:11%" *ngIf="formData.get('Date')?.errors?.['pattern']"> طول 8 عدد باشد</span>
                  <span class="tooltiptext" style="top:11%"  *ngIf="formData.get('Date')?.errors?.['minlength']"> طول 8 عدد باشد</span>

                </ng-container>
              </div>
              <div class="col-6 d-flex">
                <label class="col-form-label " >
                  موضوع:</label>
                <input type="text" style="width: 222px" [ngClass]="{'alert1':formData.get('subject')?.invalid && formData.get('subject')?.touched}" formControlName="subject" class="form-control" style="width: 221px" >
                <ng-container *ngIf="formData.get('subject')?.invalid && formData.get('subject')?.touched">
                  <span class="tooltiptext" style="top:11%"  *ngIf="formData.get('subject')?.errors?.['maxlength']">طول درست وارد شود</span>

                </ng-container>
              </div>
              <div class="col-2">
                <button type="button" class="btn  btnSabt" (click)="submitform()" >
                  Save
                </button>
                <button class="btn btnCancel1" type="button" *ngIf="inpedit==true" (click)="denyEdit()" >
                  Clear                </button>
              </div>
            </div>
            <div class="col-12 d-flex mt-3">
              <div class="col-4 d-flex">
                <label class="col-form-label ">نام :</label>
                <input type="text" [ngClass]="{'alert1':formData.get('CUSR28005')?.invalid && formData.get('CUSR28005')?.touched}"  formControlName="CUSR28005" class="form-control" style="width: 221px" >

              </div>
              <div class="col-6 d-flex">
                <label class="col-form-label " >
                  نام خانوادگی خریدار:</label>
                <input type="text" style="width: 222px" [ngClass]="{'alert1':formData.get('CUSR28006')?.invalid && formData.get('CUSR28006')?.touched}"  formControlName="CUSR28006" class="form-control" >
              </div>
            </div>
            <div class="col-12 d-flex mt-3 ">
              <div class="col-4 d-flex">
                <label class="col-form-label" >حساب:</label>
           <app-coding-get-list
             (eventselecteditem)="selecteditem=$event"
             [selected]="selecteditem">

           </app-coding-get-list>
              </div>
              <div class="col-6 d-flex">
                <label class="col-form-label" >تحویل گیرنده:</label>
                <select  formControlName="RUSR28008"  class="form-select"  style="width: 221px">
                  <option> دلد</option>
                </select>
              </div>
              <div class="col-4"></div>
            </div>
            <div class="col-12 d-flex mt-3 ">
              <div class="col-4 d-flex ">
                <label class="col-form-label " >
                  توضیحات:</label>
                <textarea type="text"  [ngClass]="{'alert1':formData.get('description')?.invalid && formData.get('description')?.touched}"  formControlName="description" class="form-control" style="width: 221px"></textarea>
              </div>
            </div>

          </div>
        </form>
        <div class="col-12">
          <button class="btn btn-success btn-block mt-2" (click)="goback()">برگشت به لیست</button>

        </div>
      </div>

    </div>
  </div>
</div>
<ngx-loading [show]="loading"></ngx-loading>
