<div class="container-fluid">
  <div class=" row">
    <div class="card custom-card cardOne mt-3"  >
      <div class="card-header" >
        فرم جدید
      </div>
      <div class="card-body ">
        <form [formGroup]="formData">
          <div class="row"  >
            <div  class="col-12 d-flex" >
              <div class="col-4 d-flex">
                <label class="col-form-label ">
                  تاریخ :</label>
                <input type="text" required  formControlName="Date" [ngClass]="{'alert1':formData.get('Date')?.invalid && formData.get('Date')?.touched}" class="form-control">

                <ng-container *ngIf="formData.get('Date')?.invalid && formData.get('Date')?.touched">
                  <span class="tooltiptext" style="top:35%"  *ngIf="formData.get('Date')?.errors?.['maxlength']">طول درست وارد شود</span>

                </ng-container>
              </div>
              <div class="col-4 d-flex">
                <label class="col-form-label " >
                  موضوع:</label>
                <input type="text" maxlength="50"   [ngClass]="{'alert1':formData.get('subject')?.invalid && formData.get('subject')?.touched}" formControlName="subject" class="form-control" >
              </div>

              <div class="col-2"></div>
              <div class="col-2">
                <button type="button" class="btn  btnSabt" (click)="submitform()" >
                  ثبت
                </button>
                <button class="btn btnCancel1" type="button" *ngIf="inpedit==true" (click)="denyEdit()" >
                  انصراف
                </button>
              </div>
            </div>
            <div class="col-12 d-flex mt-3">
              <div class="col-4 d-flex">
                <label class="col-form-label ">نام :</label>
                <input type="text" maxlength="50"  [ngClass]="{'alert1':formData.get('CUSR28005')?.invalid && formData.get('CUSR28005')?.touched}"  formControlName="CUSR28005" class="form-control" >

              </div>
              <div class="col-4 d-flex">
                <label class="col-form-label " >
                  نام خانوادگی خریدار:</label>
                <input type="text" maxlength="50" [ngClass]="{'alert1':formData.get('CUSR28006')?.invalid && formData.get('CUSR28006')?.touched}"  formControlName="CUSR28006" class="form-control">
              </div>
            </div>
            <div class="col-12 d-flex mt-3 ">
              <div class="col-4 d-flex">
                <label class="col-form-label" >حساب:</label>
           <app-coding-get-list></app-coding-get-list>
              </div>
              <div class="col-4 d-flex">
                <label class="col-form-label" >تحویل گیرنده:</label>
                <select formControlName="RUSR28008"  class="form-select"  style="width: 70%">
                  <option> دلد</option>
                </select>
              </div>
              <div class="col-4"></div>
            </div>
            <div class="col-12 d-flex mt-3 ">
              <div class="col-4 d-flex ">
                <label class="col-form-label " >
                  توضیحات:</label>
                <textarea type="text" maxlength="50" [ngClass]="{'alert1':formData.get('description')?.invalid && formData.get('description')?.touched}"  formControlName="description" class="form-control"></textarea>
              </div>
            </div>

          </div>
        </form>
        <div class="col-12">
          <button class="btn btn-success btn-block mt-2" (click)="goback()">برگشت به لیست</button>

        </div>
      </div>

    </div>
  </div>
</div>
