/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.page-item.active .page-link{
  background-color: #4F8A8B;
  border-color: #4F8A8B;
  color: white;
}
@font-face {
  font-family: iransans;
  src:  url(assets/fonts/iransans/IRANSansWebFaNum-Medium.ttf);
}
*{
  font-family: iransans !important;

}
.custom-card{
  border-radius: 10px;
  -webkit-box-shadow: -1px 3px 20px -2px #000000;
  box-shadow: -1px 3px 20px -2px #DDDDDD;
}
.cardOne{
  direction: rtl;
  margin-bottom: 15px;
  padding: 0;
  width: 90%;
  display: flex;
  margin-right: auto;
  margin-left: auto;

}
.card-header{
  background-color: #D3E4CD
}
